body{
    margin: 0%;
    height: 100vh;
}

.pinkSqare{
    background : linear-gradient(45deg, #FFBC82, #FF6D6D);      /*Gradient*/
    height:353px;
}

.pinkCircle{        /*Analyze Circle*/
    position: absolute;
        top:141px;
        left: 50%;
        transform:translateX(-50%);
    /*img's size*/
    width: 400px;
    height: 400px;
     z-index: 1; 
     
}

.checkIcon
{
    position: absolute;
        top: 262px;
        left: 50%;
        transform:translateX(-50%);
    width:154x;
    height: 175px;
    z-index: 2;
}

.text
{
    margin-left: 76px;
    position: absolute;
        top: 586.7px;

        font-family: "NanumSquareRound";
    font-size: 35px;
}

.recommendButton
{
    position: absolute;
    top : 657px;
    left: 50%;
    transform:translate(-50%);
    font-family: "NanumSquareRound";
    font-size: 28px; 
    padding: 10px 25px;
    background-color: #ffffff;
    /*border*/
    border: 5px solid #F88E82;
    border-radius: 68px;
}

.recommendButton:hover
{
    background-color: #F88E82;
    color: #ffffff; 
}

.underbar
{
    position: absolute;
        bottom: 0px;
    background: linear-gradient(45deg, #FF7373,#FF4B4B); 
    height: 56px;
    width: 480px;
}